name: Build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install
      run: npm ci
      env:
        CI: true

    - name: npm lint
      run: npm run lint
      env:
        CI: true

    - name: npm test unit with coverage
      run: npm run test:coverage
      env:
        CI: true

    - name: npm build
      run: npm run build
      env:
        CI: true

    - name: npm test lib
      run: npm run test:lib
      env:
        CI: true

    - name: upload code coverage to codecov.io
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage/coverage-final.json
        flags: unittests
        name: codecov
        fail_ci_if_error: true
